{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    {% include 'parciais/_head.html' %}
</head>


<body>

{% include 'parciais/_theme-loader.html'%}

{% include 'parciais/_navbar.html' %}
            
{% include 'parciais/_sidebar.html' %}
                        
<div class="pcoded-main-container">
    <div class="container">

        {% block content %}

        {% endblock %}
    </div>
</div>

    <!-- Required Jquery -->
    <script data-cfasync="false" src="{% static '../../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-ui/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/popper.js/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/bower_components/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{% static 'files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js' %}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{% static 'files/bower_components/modernizr/js/modernizr.js' %}"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="{% static 'files/bower_components/chart.js/js/Chart.js' %}"></script>
    <!-- amchart js -->
    <script src="{% static 'files/assets/pages/widget/amchart/amcharts.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/serial.js' %}"></script>
    <script src="{% static 'files/assets/pages/widget/amchart/light.js' %}"></script>
    <script src="{% static 'files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/js/SmoothScroll.js' %}"></script>
    <script src="{% static 'files/assets/js/pcoded.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'files/assets/js/vartical-layout.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/pages/dashboard/custom-dashboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/js/script.min.js' %}"></script>
</body>

</html>